<div class="container bg-white mx-auto flex justify-between">
<div class="w-[25%]">
    <!-- <image/> -->
    <h1 class="test-blue my-3"> Brand name</h1>
</div>
<div class="">
    <ul class="grid grid-flow-col gap-2 my-3">
        <li class=" p-1 rounded-md ">home </li>
        <li class=" p-1 rounded-md ">contact</li>
        <li class=" p-1 rounded-md ">products</li>
        <li class=" p-1 rounded-md ">more</li>

        <li> <button class="bg-blue-800 rounded-sm py-1"> Get start </button></li>
    </ul>
</div>
</div>